/*** Allgemein ****************************/

html, body {
 height: 100%;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #ffffff;
 font-size: 12px;
 font-family: Helvetica, Arial, sans-serif;
}

img {
 margin: 0 0 0 0;
 padding: 0;
 border: 0;
 background: #ffffff;
 vertical-align: top;
}

ul {
 list-style: circle;
 margin: 15px 0 20px 0;
 font-size: 13px;
}

li {
 margin: 0 0 8px 25px;
}

a {
 color: #000000;
 font-weight: normal;
 text-decoration: none;
}

a:hover {
 color: #0000e0;
 text-decoration: underline;
}

tr {
 margin: 0 0 0 0;
 padding: 0 0 0 0;
 vertical-align: middle;
 text-align: left;
}

td {
 margin: 0 0 0 0;
 padding: 0 0 0 0;
 vertical-align: middle;
 text-align: left;
}

th {
 margin: 0 0 0 0;
 padding: 0 0 0 0;
 vertical-align: middle;
 text-align: left;
}

/*** eigene Kreationen ***********************************/

#aussen {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 border: 0;
}
#kopf {
 border: 0;
 height: 96px;
/* background: #ffffff url(/rsrc/img/titel-website.png) repeat-x; */
 overflow: hidden;
}

#sepbar {
 position: absolute;
 top: 96px;
 right: 0;
 bottom: 0;
 left: 0;
 border: 0;
}

#container {
 position: absolute;
 top: 96px;
 right: 0;
 bottom: 0;
 left: 0;
 border: 0;
}
#inhalt {
overflow:auto;
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 205px;
}

/* Navigation allgemein */

#navi {
 overflow: auto;
 position: absolute;
 top: 0;
 width: 195px;
 bottom: 0;
 left: 0;
 background: #e0e0e0 url(/rsrc/img/hinter-navi.gif) repeat-y;
 margin: 0;
 padding: 0;
 display: block;
}

#navi a {
 display: block;
 width: 140px;
 color: #101010;
 border-bottom: 1px solid #c0c0c0;
 background-color: #e0e0e0;
 font-size: 14px;
 font-weight: normal;
 text-decoration: none;
}

/* Navigation oberste 1 Ebene */

#navi a.g1p {
 padding: 6px 30px 3px 10px;
 font-size: 13px;
 font-weight: bold;
}

#navi a.g1a {
 padding: 6px 30px 3px 10px;
 background: #ffffff;
 font-size: 13px;
 font-weight: bold;
}

#navi a.g1a:hover {
 background-color: #f8f8f8;
}

#navi a.g1p:hover {
 background-color: #f0f0f0;
}

/* Navigation 2-te Ebene */

#navi a.g2p {
 font-size: 13px;
 padding: 5px 20px 2px 20px;
}

#navi a.g2a {
 font-size: 13px;
 padding: 5px 20px 2px 20px;
 background: #ffffff;
}

#navi a.g2a:hover {
 background-color: #f8f8f8;
}

#navi a.g2p:hover {
 background-color: #f0f0f0;
}

/* Navigation 3-te Ebene */

#navi a.g3p {
 font-size: 12px;
 color: #085c0f;
 padding: 4px 10px 1px 30px;
}

#navi a.g3a {
 font-size: 12px;
 color: #085c0f;
 padding: 4px 10px 1px 30px;
 background: #ffffff;
}

#navi a.g3a:hover {
 background-color: #f8f8f8;
}

#navi a.g3p:hover {
 background-color: #f0f0f0;
}

/* Inhalt */

.hier {
 color: #0000e0;
 font-weight: normal;
 text-decoration: underline;
}

.art_pic {
  margin: 5px 10px 5px 0;
/*  width: 100px; */
}

.start_pic {
  margin: 2px 2px 2px 2px;
/*  width: 100px; */
}

.text_links {
 float: right;
}

.text_rechts {
 float: left;
}

.such_ein {
 margin: 0 0 0 0;
 border: 1px solid #085c0f;
 padding: 0 0 0 0;
 font-weight: normal;
 font-size: 12px;
 text-align: left;
}

.such_box {
 margin: 0 0 0 0;
 border: 1px solid #085c0f;
 padding: 0 0 0 0;
 font-weight: normal;
 font-size: 12px;
 text-align: left;
}

#inhalt p {
 margin: 10px 10px 10px 0;
 font-weight: normal;
 font-size: 12px;
 text-align: left;
}

.objekte {
 margin: 0 0 0 0;
 border: 0;
 padding: 0 0 0 0;
 overflow: auto;
 vertical-align: top;
}

#inhalt .gmz {
 margin: 0;
 padding: 0 5px 0 5px;
 border: 0;
}

#inhalt .eingabe1 {
 margin: 0;
 padding: 0;
 border: 0;
}

#inhalt .eingabe2 {
 margin: 0;
 padding: 0;
 border: 1px solid #085c0f;
 width: 30px;
 height:15px;
 font-size:12px;
 vertical-align: middle;
  -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
}

#inhalt .eingabe2:hover {
	margin: 0;
	padding: 0;
	border: 1px solid #085c0f;
	width:30px;
	height: 15px;
	font-size: 12px;
	vertical-align: middle;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor:text;
}

#inhalt .eingabe2:active {
	margin: 0;
	padding: 0;
	border: 1px solid #085c0f;
	width:30px;
	height: 15px;
	font-size: 12px;
	vertical-align: middle;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor:text;
}

#inhalt .eingabe3 {
 margin: 0;
 padding: 0;
 border: 1px solid #085c0f;
 width: 50px;
 height: 15px;
 font-size: 10px;
 vertical-align: middle;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
}

#inhalt .eingabe3:hover {
	margin: 0;
	padding: 0;
	border: 1px solid #085c0f;
	width:50px;
	height: 15px;
	font-size: 10px;
	vertical-align: middle;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
}

#inhalt .eingabe3:active { background-color: #ffffff;
	margin: 0;
	padding: 0;
	border: 1px solid #085c0f;
	width:50px;
	height: 15px;
	font-size: 10px;
	vertical-align: middle;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor:pointer;
}

#inhalt h1 {
 margin: 20px 0 10px 0;
/* color: #242e8a; */
 color: #085c0f;
 font-size: 27px;
 text-align: center;
}

.wieh1 {
 color: #085c0f;
 font-size: 27px;
 font-weight: bold;
 text-decoration: none;
}

#inhalt h2 {
 margin: 20px 0 10px 0;
 color: #085c0f;
 font-weight: normal;
 font-size: 18px;
 text-align: center;
}

#inhalt h2 a {
 color: #085c0f;
}

.wieh2 {
 color: #085c0f;
 font-size: 18px;
 font-weight: normal;
 text-decoration: underline;
}

#inhalt h3 {
 margin: 20px 0 10px 0;
 color: #085c0f;
 font-weight: normal;
 font-size: 18px;
}

#inhalt h4 {
 margin: 20px 0 10px 0;
 color: #085c0f;
 font-weight: normal;
 font-size: 13px;
}

.wieh4 {
 color: #085c0f;
 font-size: 13px;
 font-weight: normal;
 text-decoration: underline;
}

.wieh4ou {
 color: #085c0f;
 font-size: 13px;
 font-weight: normal;
 text-decoration: none;
}

.s18 {
 color: #505050;
 font-size: 18px;
}

.s15 {
 color: #505050;
 font-weight: bold;
 font-size: 15px;
}

.d18 {
 color: #085c0f;
 font-size: 18px;
}

.r18 {
 color: #bf0000;
 font-size: 18px;
}

.g18 {
 color: #009900;
 font-size: 18px;
}

.b18 {
 color: #0000af;
 font-size: 18px;
}

#inhalt .tab_start_s {
 width: 99%;
 border: 0;
 border-left: 8px solid #505050;
 padding: 0 0 0 0;
 margin: 0 0 0 4px;
 border-collapse: collapse;
 font-size: 12px;
}
#inhalt .zeile_start_s {
}

#inhalt .zelle_start_s {
 width: 25%;
 margin: 0 0 0 0;
 border: 0;
 padding: 0 5px 0 5px;
 vertical-align: top;
}

#inhalt .tab_start_rgb {
 width: 99%;
 border: 0;
 padding: 0 0 0 0;
 margin: 0 0 0 4px;
 border-collapse: collapse;
 font-size: 12px;
}

#inhalt .zelle_start_r {
 width: 33%;
 margin: 0 0 0 0;
 border: 0;
 border-left: 8px solid #bf0000;
 padding: 0 0 0 5px;
 vertical-align: middle;
}

#inhalt .zelle_start_g {
 width: 33%;
 margin: 0 0 0 0;
 border: 0;
 border-left: 8px solid #009900;
 padding: 0 0 0 5px;
 vertical-align: middle;
}

#inhalt .zelle_start_b {
 width: 33%;
 margin: 0 0 0 0;
 border: 0;
 border-left: 8px solid #0000af;
 padding: 0 0 0 5px;
 vertical-align: middle;
}

#inhalt .tab_a {
 width: 98%;
/* border: 1px solid #0000ff; */
 border-collapse: collapse;
 font-size: 12px;
}

#inhalt .zelle_a_11 {
 margin: 0 0 0 0;
 border-top: 2px solid #085c0f;
 border-bottom: 2px solid #085c0f;
 padding: 0px 0px 0px 0px;
 vertical-align: middle;
}

#inhalt .zelle_a_12 {
 margin: 0 0 0 0;
 border-top: 2px solid #085c0f;
 border-bottom: 2px solid #085c0f;
 padding: 0px 0px 0px 0px;
 vertical-align: middle;
}

#inhalt .zelle_a_12_txt {
 margin: 5px 15px 5px 0;
 padding: 0;
}

#inhalt .tab_i {
 width: 98%;
 margin: 0 0 -1px 0;
 border-collapse: collapse;
 font-size: 12px;
}

#inhalt .zeile_i_1 {
 background-color: #e0e0e0;
}

#inhalt .zeile_i_n {
 background-color: #ffffff;
}

#inhalt .zelle_i_1 {
 width: 10%;
 margin: 0 0 0 0;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
 padding: 0px 9px 0px 0px;
 vertical-align: middle;
}
#inhalt .zelle_i_2 {
 width: 45%;
 margin: 0 0 0 0;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
 padding: 7px 0px 7px 0px;
 vertical-align: middle;
}

#inhalt .zelle_i_3 {
 width: 15%;
 margin: 0 0 0 0;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
 padding: 0px 0px 0px 0px;
 vertical-align: middle;
 text-align: right;
}
#inhalt .zelle_i_4 {
 width: 10%;
 margin: 0 0 0 0;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
 padding: 0px 0px 0px 0px;
 vertical-align: middle;
 text-align: right;
}
#inhalt .zelle_i_5 {
 width: 20%;
 margin: 0px 0px 0px 0px;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
 padding: 1px 0px 1px 10px;
/* text-indent: 10px; */
 vertical-align: middle;
 text-align: left;
}


#inhalt .zelle_m_1 {
 width: 8%;
 padding: 0px 2px 0px 0px;
 text-align: right;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
}

#inhalt .zelle_m_2 {
 width: 13%;
 padding: 0px 10px 0px 0px;
 text-align: right;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
}

#inhalt .zelle_m_3 {
 width: 37%;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
}

#inhalt .zelle_m_4 {
 width: 5%;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
}

#inhalt .zelle_m_5 {
 width: 10%;
 padding: 0px 5px 0px 0px;
 text-align: right;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
}

#inhalt .zelle_m_6 {
 width: 15%;
 padding: 0px 10px 0px 0px;
 text-align: right;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
}

#inhalt .zelle_m_7 {
 width: 10%;
 border-top: 1px solid #085c0f;
 border-bottom: 1px solid #085c0f;
}


#inhalt .zelle_zg {
 width: 20%;
 background-color: #0b8316;
 text-align: center;
 padding: 10px 10px 2px 10px;
 font-size: 14pt;
 color: #ffffff;
}

#inhalt .zelle_zy {
 width: 20%;
 background-color: #ffdc00;
 text-align: center;
 padding: 10px 10px 2px 10px;
 font-size: 14pt;
 color: #000000;
}

#inhalt .zelle_zr {
 width: 20%;
 background-color: #c00000;
 text-align: center;
 padding: 10px 10px 2px 10px;
 font-size: 14pt;
 color: rgb(255, 255, 255);
}


#inhalt a.detail {
 color: #0000e0;
 font-weight: normal;
 text-decoration: underline;
}

#inhalt a.detail:hover {
 color: #a0a0ff;
 font-weight: normal;
 text-decoration: underline;
}

/*** Stern * am Anfang: Hack, speziell für IE6 ************/

#MerkzettelInfo { /* braucht nur der IE6 */
 font-size: 12px;
}

table { /* braucht nur der IE6 */
 font-size: 12px;
}

* html body {
 height: 100%;
 margin: 0;
 padding: 0;
 padding: 1px;
 font-size: 12px;
 font-family: Helvetica, Arial, sans-serif;
}

* html #aussen {
 position: static;
 height: 100%;
}

* html #kopf {
 position: absolute;
 width: 100%;
 height: 96px;
}

* html #container {
 position: static;
 height: 100%;
 border-top: 96px solid white;
 border-bottom: 0;
}

* html #inhalt {
 position: static;
 height: 100%;
 width: 100%;
 overflow: scroll;
}

* html #navi {
 position: static;
 height: 100%;
 float: left;
}

* html #navi a {
 width: 180px;
}

* html #navi a.g1a:hover {
 color: #e00000;
 text-decoration: underline;
 background-color: #ffffff;
}

* html #navi a.g1p:hover {
 color: #e00000;
 text-decoration: underline;
 background-color: #e0e0e0;
}

* html #navi a.g2a:hover {
 color: #e00000;
 text-decoration: underline;
 background-color: #ffffff;
}

* html #navi a.g2p:hover {
 color: #e00000;
 text-decoration: underline;
 background-color: #e0e0e0;
}

* html #navi a.g3a:hover {
 color: #e00000;
 text-decoration: underline;
 background-color: #ffffff;
}

* html #navi a.g3p:hover {
 color: #e00000;
 text-decoration: underline;
 background-color: #e0e0e0;
}


.buttonSearch {
	color: #000000;
	background-color: #ffffff;
	font-size: 12px;
	font-weight:normal;
	border: 1px solid ;
	padding: 1px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

.buttonSearch:hover {
color: #000000;
background-color: #e0e0e0;
font-size: 12px;
border: 1px solid;
padding: 1px;
cursor:pointer;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

.buttonSearch:active {color: #000000;
background-color: #e0e0e0;
font-size: 12px;
border: 1px solid;
padding: 1px;
cursor:pointer;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

.inputSearch {	color: #111111;
	background-color: #ffffff;
	font-size: 12px;
	font-style:italic;
	border: 1px solid #000000;
	padding: 2px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

.siteButton { 	color: #000000;
	background-color: #e0e0e0;
	font-size: 12px;
	font-weight:normal;
	border: 1px solid #085c0f;
	padding: 1px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

.siteButton:hover { color: #000000;
	background-color: #e0e0e0;
	font-size: 12px;
	font-weight:normal;
	border: 1px solid #085c0f;
	padding: 1px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	cursor: pointer;
}

.siteButton:active { color: #000000;
	background-color: #ffffff;
	font-size: 12px;
	font-weight:normal;
	border: 1px solid #085c0f;
	padding: 1px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	cursor: pointer;
}

.buttonBasic { 	color: #000000;
	background-color: #e0e0e0;
	font-size: 12px;
	font-weight:normal;
	border: 1px solid ;
	padding: 1px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

.buttonBasic:hover { color: #000000;
	background-color: #e0e0e0;
	font-size: 12px;
	font-weight:normal;
	border: 1px solid ;
	padding: 1px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	cursor: pointer;
}

.buttonBasic:active { color: #000000;
	background-color: #e0e0e0;
	font-size: 12px;
	font-weight:normal;
	border: 1px solid ;
	padding: 1px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	cursor: pointer;
}

.inputBasic { color: #000000;
	background-color: #ffffff;
	font-size: 12px;
	font-style:normal;
	border: 1px solid #000000;
	padding: 2px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

inputFalse { color: #000000;
	background-color: #ff0000;
	font-size: 12px;
	font-style:normal;
	border: 1px solid #000000;
	padding: 2px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.select {
    border: 1px solid #BDC7D8;
    font-size: 12px;
    padding: 2px;
    -webkit-border-radius:4px;
	-moz-border-radius:4px;
}