<script>
function enable( element) {
        if ( document.formOrder.AGBFrage[1].checked) {
                document.formOrder._ISubmitOrder.disabled    =       false ;
        } else {
                document.formOrder._ISubmitOrder.disabled    =       true ;
        }
}
</script>
<form name="formOrder" method="post" action="/index.php?webPage=MyCart&action=order&step=3">
	<input type="hidden" name="step" value="3" />
	<table>
		<tr>
			<td colspan="5">Ich habe die <a class="hier" href="/hinweise.html" target="_subInfo" title="Wird in neuem Fenster ge&ouml;ffnet">AGB</a> (Allgemeinen Gesch&auml;ftsbedingungen) von mein-mikroskop.de Karl-Heinz Welter gelesen und erkenne diese an:
			</td>
			<td>
				<input type="radio" name="AGBFrage" value="Nein" checked onClick="enable( '_ISubmitOrder') ; ">$trans.No$</input>
				<input type="radio" name="AGBFrage" value="Ja" onClick="enable( '_ISubmitOrder') ; ">$trans.Yes$</input>
			</td>
		</tr>
		<tr>
			<td>Eigene Referenz Nr.:</td>
			<td colspan="4"><input type="text" name="_IKdRefNr" value="webShop" /></td>
		</tr>
		<tr>
			<td>Anmerkungen:</td>
			<td colspan="4"><textarea name="_ICustText" cols="30" rows="4"></textarea></td>
		</tr>
		<tr>
			<td colspan="5"></td>
			<td><input name="_ISubmitOrder" type="submit" value="$trans.SHOP-BTN-ACCPT-TERMS$" disabled="1" class="buttonBasic" /></td>
		</tr>
	</table>
</form>
