<div class="block block-list block-compare">
	<div class="block block-cart">
		<div class="block-title">
			<strong>
				<span>$trans.SHOP-HEADER-LINKS$</span>
			</strong>
		</div>
		<div class="block-content">
			<a href="Impressum">$trans.SHOP-LNK-IMPRESSUM$</a><br/>
			<a href="/Ruecknahme">$trans.SHOP-LNK-RETURNS$</a><br/>
			<a href="/Datenschutz">$trans.SHOP-LNK-DATASEC$</a><br/>
			<a href="/AGB">$trans.SHOP-LNK-TERMS$</a><br/>
			<a href="/Kontakt">$trans.SHOP-LNK-CONTACT$</a><br/>
			<a href="/Credits">$trans.SHOP-LNK-CREDITS$</a><br/>
			<a href="http://stores.ebay.de/MODIS-GmbH-Lehrmittel-Laborbedarf">MODIS auf ebay</a>
		</div>
	</div>
</div>