<div class="block block-cart">
	<div class="block-title">
		<strong>
			<span>$trans.SHOP-HEADER-REGISTEREDUSER$</span>
		</strong>
	</div>
	<form method="post" action="">
		<fieldset>
			<table>
				<tr>
					<td>$trans.SHOP-LBL-USERID$:</td>
					<td><input name="CustId" class="inputBasic" /></td>
				</tr>
<!-- 
 				<tr>
					<td>$trans.SHOP-LBL-PASSWORD$:</td>
					<td><input type="password" name="CustPwd" class="inputBasic"/></td>
				</tr>
 -->
			</table>
			<input type="submit" class="buttonBasic" name="NewPwd" value="$trans.SHOP-BTN-NEWPASSWORD$" />
		</fieldset>
	</form>
</div>