[Unit]
Description=EIB/KNX solar thermal energy handler
After=knxmon.service
BindsTo=knxmon.service
BindsTo=knxtpbridge.service

[Service]
Type=forking
ExecStart=/usr/bin/hdlheating
ExecStop=-/bin/kill -TERM

[Install]
WantedBy=multi-user.target
