echo "$0: starting off ....."
echo "$0: in subdirectory: " `pwd`
cd `dirname $0`
echo "$0: in subdirectory: " `pwd`

# send an E-Mail as reminder we are running

./jobControl.php monthly >> /tmp/jobControlMonthly.log

# 

echo "$0: finishing ....."
